.mainPizza__top_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mainPizza_head {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    h2 {
      color: #191919;
      font-family: Inter;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px;
    }
    button {
      cursor: pointer;
      display: inline-flex;
      padding: 9px 16px;
      align-items: center;
      gap: 8px;
      border: none;
      border-radius: 6px;
      border: 1px solid var(--line-gray, #f0f0f0);
      background: #fff;
    }
    button::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../../img/filter.svg");
      vertical-align: middle;
    }
  }
}

.mainPizza__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  column-gap: 5px;
}
.mainPizza__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  height: 440px;
  padding-bottom: 0px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;

  h3 {
    --max-lines: 1;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    color: #191919;
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  p {
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    color: #191919;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
  .mainPizza__img-box {
    width: 250px;
    height: 250px;
  }
}
.mainPizza__down-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  button {
    display: inline-flex;
    padding: 13px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--primary, #ff7010);
    border: none;
    color: var(--white, #fff);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  span {
    color: var(--primary, #ff7010);
    text-align: right;
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

/* BASKET  RIGHT */

.basket-right {
  height: 100vh;
  max-width: 420px;
  width: 100%;
  z-index: 30;
  background-color: #fff;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 100%;
  transform: translate(-100%);
  display: none;

  &__svg {
    cursor: pointer;
  }
}

.basket-right__box {
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px 20px;
  display: flex;

  h3 {
    font-size: 32px;
    font-weight: 600;
  }
}
.basket-right__content {
  flex-direction: column;
  flex: 1;
  gap: 20px;
  padding: 0 20px;
  display: flex;
  overflow-y: scroll;

  .basket-right__item {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    padding: 16px;
    display: flex;

    img {
      width: 94px;
      height: 94px;
      margin-right: 16px;
    }

    .basket-right__info {
      flex-flow: wrap;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      display: flex;

      h6 {
        --max-lines: 1;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-lines);
        font-size: 16px;
        font-weight: 600;
      }
      p {
        --max-lines: 2;
        display: -webkit-box;
        overflow: hidden;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: var(--max-lines);
        font-size: 14px;
        font-weight: 400;
      }

      .basket-right__btn-box {
        width: 92px;
        height: 36px;
        background: #ffeee2;
        border-radius: 6px;
        display: flex;
        margin-top: 10px;

        button {
          color: #ff7010;
          cursor: pointer;
          background: #ffeee2;
          border: none;
          border-radius: 6px;
          flex: 1;
          justify-content: center;
          align-items: center;
          padding: 0 8px;
          font-size: 16px;
          font-weight: 600;
          display: flex;
        }
        :nth-child(2) {
          margin-top: 7px;
          vertical-align: middle;
          color: #ff7010;
          font-size: 16px;
          font-weight: 600;
        }
      }
      span {
        color: #ff7010;
        text-align: right;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
      }
    }
  }
}
.basket__right--error {
  margin-top: 60% !important;
}

/* flex */
.flex {
  display: flex;
}

.basket-right__footer {
  border-top: 1px solid #f0f0f0;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  display: flex;

  span {
    color: #ff7010;
    font-size: 20px;
    font-weight: 600;
  }
  a {
    color: #fff;
    cursor: pointer;
    background: #ff7010;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 13px 32px;
    font-size: 16px;
    font-weight: 400;
  }
}

/* BASKET ORDER */

.basket-order {
  h2 {
    color: var(--black, #191919);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
  }
  &__list {
    width: 890px;
    padding: 0 20px;
  }
  &__item {
    margin-bottom: 50px;
    height: 348px !important;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--line-gray, #f0f0f0);
    background: var(--white, #fff);
  }

  &__desc-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;
    padding-left: 10px;
    padding-right: 10px;

    h3 {
      --max-lines: 2;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--max-lines);
      flex-grow: 0;
      width: 150px;
      color: var(--black, #191919);
      text-align: center;
      font-family: SF Pro Text;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 8px;
    }

    p {
      --max-lines: 2;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--max-lines);
      flex-grow: 0;
      color: var(--black, #191919);
      text-align: center;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 12px;
    }
    button {
      width: 158px;
      height: 40px;
      justify-content: center;
      flex-shrink: 0;
      color: var(--white, #fff);
      border-radius: 6px;
      background: var(--primary, #ff7010);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      border: none;
      margin-bottom: 0px;
      cursor: pointer;
    }
  }

  &__img-box {
    width: 130px;
    height: 130px;
    img {
      flex-shrink: 0;
    }
    margin-bottom: 12px;
    // text-align: center;
    margin: 0 auto;
  }
}
// .swiper-button-prev {
//   position: relative;
//   margin-left: -2%;
// }
.swiper-button-prev::after {
  content: "" !important;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../../img/left-prev.svg") !important;
  border-radius: 41px;
  background-size: contain;
  // left: -10px;
}

.swiper-button-next::after {
  content: "" !important;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../../img/right-prev.svg") !important;
  border-radius: 41px;
  background-size: contain;
}

/* about */

.about {
  margin-bottom: 20px;
  h3 {
    color: var(--black, #191919);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 13px;
  }
  &__box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
  }
  &__input-box {
    label {
      color: var(--gray-text, #a5a5a5);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 8px;
      display: block;
    }
    input {
      width: 270px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 6px;
      border: 1px solid var(--line-gray, #f0f0f0);
      background: #fff;
      padding: 0 10px;
      outline: none;
    }
  }
}

/* delivery */
.delivery {
  margin-bottom: 50px;
  &__hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
    h3 {
      color: var(--black, #191919);
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
    }

    div {
      input {
        display: none;
      }

      input:checked + label {
        background: var(--primary, #ff7010) !important;
        color: #fff;
      }
      label {
        cursor: pointer;
        display: inline-block;
        width: 175px;
        padding: 12px 0;
        flex-shrink: 0;
        text-align: center;
        color: var(--black, #191919);
        font-family: SF Pro Text;
        font-size: 16px;
        font-style: normal;
        font-weight: 400;
        border-radius: 6px;
        border: 1px solid var(--line-gray, #f0f0f0);
        background: var(--white, #fff);
      }
    }
  }
  &__box {
    label {
      display: block;
      color: var(--gray-text, #a5a5a5);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 8px;
    }
  }
  &__input {
    border-radius: 6px;
    border: 1px solid var(--line-gray, #f0f0f0);
    background: #fff;
    height: 48px;
    padding: 0 8px;
    flex-shrink: 0;
    outline: none;
  }
  &__input--home {
    width: 850px;
    flex-shrink: 0;
    margin-bottom: 16px;
  }
  &__home-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    margin-bottom: 16px;
    input {
      width: 154px;
    }
  }
  &__order-box {
    margin-bottom: 20px;
    h4 {
      color: var(--gray-text, #a5a5a5);
      font-family: SF Pro Text;
      font-size: 15px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 12px;
    }
    label {
      cursor: pointer;
      display: inline-block;
      margin-left: 5px;
    }
  }
  &__order-time-box {
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__checkout {
    display: flex;
    align-items: center;
    justify-content: space-between;
    h3 {
      color: var(--primary, #ff7010);
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
    button {
      cursor: pointer;
      color: var(--white, #fff);
      text-align: center;
      font-family: SF Pro Text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      display: inline-flex;
      padding: 13px 24px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      background: var(--primary, #ff7010);
      border: none;
    }
  }
}

/* payment */
.payment {
  margin-bottom: 20px;
  &__box {
    h2 {
      color: var(--black, #191919);
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      margin-bottom: 16px;
    }
  }
  &__payment-box {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      cursor: pointer;
      display: inline-block;
      margin-left: 5px;
    }
  }
}

/* lease */

.lease {
  &__box {
    margin-bottom: 20px;
    h2 {
      color: var(--black, #191919);
      font-family: Inter;
      font-size: 24px;
      font-style: normal;
      font-weight: 600;
      line-height: 32px;
      margin-bottom: 16px;
    }
  }
  &__lease-box {
    width: 40%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      cursor: pointer;
      display: inline-block;
      margin-left: 5px;
    }
  }
  &__input {
    width: 160px;
    height: 48px;
    flex-shrink: 0;
    border: none;
    outline: none;
    padding: 0 10px;
  }
  &__fix {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .input__custom {
      margin-top: -8px;
    }
  }
  &__ps {
    margin-left: 5px;
    position: relative;
    span {
      position: absolute;
      right: 15px;
      top: 25%;
      opacity: 0.6;
    }
  }
}

/* comment */

.comment {
  margin-bottom: 20px;
  h2 {
    color: var(--black, #191919);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 16px;
  }
  &__box {
    textarea {
      width: 850px;
      height: 200px;
      flex-shrink: 0;
      outline: none;
      padding: 16px 13px;
      border-radius: 6px;
      border: 1px solid var(--line-gray, #f0f0f0);
      background: #fff;
      max-width: 100%;
      max-height: 100%;
    }
  }
}

.line {
  max-width: 850px;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: var(--line-gray, #f0f0f0);
  margin-bottom: 20px;
}

@media screen and (max-width: 500px) {
  .mainPizza__item {
    max-height: 430px;
    height: 100%;
    h3 {
      font-size: 16px;
    }
    p {
      font-size: 14px;
    }
    .mainPizza__img-box {
      margin-top: 10px;
    }

    .mainPizza__down-block {
      margin-bottom: 20px;
      button {
        padding: 10px 26px;
        font-size: 14px;
        margin: unset;
      }
      span {
        font-size: 16px;
      }
    }
  }
  .mainPizza_head {
    h2 {
      font-size: 30px !important;
    }
  }
  .mainPizza__top_box .mainPizza_head {
    button {
      font-size: 12px;
      cursor: pointer;
      display: inline-flex;
      padding: 7px 12px;
      align-items: center;
    }

    button::before {
      background-size: 13px;
      width: 13px;
      height: 13px;
    }
  }

  .basket-right {
    h3 {
      font-size: 20px;
    }
    &__svg {
      width: 20px !important;
      height: 20px !important;
    }
    &__footer {
      padding: 12px 15px;
      span {
        font-size: 15px;
      }
      a {
        font-size: 14px;
        padding: 10px 13px;
      }
    }
  }
  .basket-right__item {
    padding: 10px !important;
    img {
      width: 84px !important;
      height: 84px !important;
    }
  }
  .basket-right__info {
    h6 {
      font-size: 14px !important;
    }
    p {
      font-size: 12px !important;
    }
  }
  .basket-right__btn-box {
    width: 72px !important;
    height: 30px !important;

    button {
      font-size: 15px !important;
    }
    span {
      margin-top: 6px !important;
      font-size: 14px !important;
    }
  }
  .basket-right__btn-box ~ span {
    margin-top: 15px;
    font-size: 14px !important;
  }
}

@media screen and (max-width: 384px) {
  .basket-right {
    &__footer {
      span {
        font-size: 13px;
      }
      a {
        font-size: 13px;
        padding: 10px 8px;
      }
    }
  }
}
