.mainPizza__top_box {
  display: flex;
  flex-direction: column;
  align-items: center;
  .mainPizza_head {
    margin-top: 10px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 32px;

    h2 {
      color: #191919;
      font-family: Inter;
      font-size: 40px;
      font-style: normal;
      font-weight: 600;
      line-height: 48px;
    }
    button {
      cursor: pointer;
      display: inline-flex;
      padding: 9px 16px;
      align-items: center;
      gap: 8px;
      border: none;
      border-radius: 6px;
      border: 1px solid var(--line-gray, #f0f0f0);
      background: #fff;
    }
    button::before {
      content: "";
      display: inline-block;
      width: 16px;
      height: 16px;
      background-image: url("../../img/filter.svg");
      vertical-align: middle;
    }
  }
}

.mainPizza__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}
.mainPizza__item {
  width: 300px;
  height: 440px;
  padding-bottom: 0px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;

  h3 {
    color: #191919;
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
    margin-bottom: 12px;
  }
  p {
    color: #191919;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 16px;
  }
}
.mainPizza__img-box {
  margin-bottom: 16px;
}
.mainPizza__down-block {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 20px;
  button {
    display: inline-flex;
    padding: 13px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--primary, #ff7010);
    border: none;
    color: var(--white, #fff);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
  }
  span {
    color: var(--primary, #ff7010);
    text-align: right;
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

/* BASKET  RIGHT */

.basket-right {
  height: 100vh;
  width: 420px;
  z-index: 30;
  background-color: #fff;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 100%;
  transform: translate(-100%);
  display: none;
}

.basket-right__box {
  justify-content: space-between;
  align-items: center;
  padding: 32px 20px 20px;
  display: flex;

  h3 {
    font-size: 32px;
    font-weight: 600;
  }

  svg {
    cursor: pointer;
  }
}
.basket-right__content {
  flex-direction: column;
  flex: 1;
  gap: 20px;
  padding: 0 20px;
  display: flex;
  overflow-y: scroll;

  .basket-right__item {
    background: #fff;
    border: 1px solid #f0f0f0;
    border-radius: 12px;
    padding: 16px;
    display: flex;

    img {
      width: 94px;
      height: 94px;
      margin-right: 16px;
    }

    .basket-right__info {
      flex-flow: wrap;
      flex: 1;
      justify-content: space-between;
      align-items: center;
      display: flex;

      h6 {
        font-size: 16px;
        font-weight: 600;
      }
      p {
        font-size: 14px;
        font-weight: 400;
      }

      .basket-right__btn-box {
        width: 92px;
        height: 36px;
        background: #ffeee2;
        border-radius: 6px;
        display: flex;
        margin-top: 10px;

        button {
          color: #ff7010;
          cursor: pointer;
          background: #ffeee2;
          border: none;
          border-radius: 6px;
          flex: 1;
          justify-content: center;
          align-items: center;
          padding: 0 8px;
          font-size: 16px;
          font-weight: 600;
          display: flex;
        }
        :nth-child(2) {
          margin-top: 7px;
          vertical-align: middle;
          color: #ff7010;
          font-size: 16px;
          font-weight: 600;
        }
      }
      span {
        color: #ff7010;
        text-align: right;
        font-family: Inter;
        font-size: 16px;
        font-style: normal;
        font-weight: 600;
        line-height: 20px;
      }
    }
  }
}
.basket-right__footer {
  border-top: 1px solid #f0f0f0;
  justify-content: space-between;
  align-items: center;
  padding: 12px 20px;
  display: flex;

  span {
    color: #ff7010;
    font-size: 20px;
    font-weight: 600;
  }
  a {
    color: #fff;
    cursor: pointer;
    background: #ff7010;
    border: none;
    border-radius: 6px;
    outline: none;
    padding: 13px 32px;
    font-size: 16px;
    font-weight: 400;
  }
}
.flex {
  display: flex;
}

/* BASKET ORDER */

.basket-order {
  h2 {
    color: var(--black, #191919);
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: 32px;
    margin-bottom: 24px;
  }
  &__list {
    // overflow: unset !important;
    width: 890px;
    padding: 0 20px;
  }
  &__item {
    margin-bottom: 50px;
    height: 348px !important;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--line-gray, #f0f0f0);
    background: var(--white, #fff);
  }

  &__desc-box {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    height: 200px;

    h3 {
      flex-grow: 0;
      width: 150px;
      color: var(--black, #191919);
      text-align: center;
      font-family: SF Pro Text;
      font-size: 15px;
      font-style: normal;
      font-weight: 600;
      line-height: 24px;
      margin-bottom: 8px;
    }

    p {
      flex-grow: 0;
      color: var(--black, #191919);
      text-align: center;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 12px;
    }
    button {
      width: 158px;
      height: 40px;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      color: var(--white, #fff);
      border-radius: 6px;
      background: var(--primary, #ff7010);
      font-family: Inter;
      font-size: 16px;
      font-style: normal;
      font-weight: 600;
      border: none;
      margin-bottom: 0px;
      cursor: pointer;
    }
  }

  &__img-box {
    img {
      width: 130px;
      height: 130px;
      flex-shrink: 0;
    }
    margin-bottom: 12px;
    text-align: center;
    margin: 0 auto;
  }
}
// .swiper-button-prev {
//   position: relative;
//   margin-left: -2%;
// }
.swiper-button-prev::after {
  content: "" !important;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../../img/left-prev.svg") !important;
  border-radius: 41px;
  background-size: contain;
  // left: -10px;
}

.swiper-button-next::after {
  content: "" !important;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  display: inline-block;
  background-image: url("../../img/right-prev.svg") !important;
  border-radius: 41px;
  background-size: contain;
}
