.home__search-box {
  padding-left: 32px;
  padding-right: 32px;
  height: 80px;
  flex-shrink: 0;
  border-radius: 8px;
  border: 1px solid #f0f0f0;
  background: #fff;
  display: flex;
  align-items: center;
  div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    label {
      flex-shrink: 0;
      font-family: SF Pro Text;
      font-size: 18px;
      font-style: normal;
      font-weight: 400;
      line-height: 24px;
      margin-right: 8px;
    }
    input {
      padding: 20px;
      max-width: 783px;
      max-height: 48px;
      width: 100%;
      height: 100%;
      border-radius: 6px;
      border: 1px solid #f0f0f0;
      background: #fff;
      outline: none;
      padding-left: 40px;
    }
    input[type="text"] {
      background-image: url("../img/location.svg");
      background-repeat: no-repeat;
      background-position-y: center;
      background-position-x: 15px;
    }
    button {
      color: #fff;
      font-family: SF Pro Text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      width: 150px;
      height: 48px;
      flex-shrink: 0;
      border-radius: 6px;
      background: #ff7010;
      border: none;
      margin-left: 20px;
      cursor: pointer;
    }
  }
}
.home__dostavki {
  max-width: 850px;
  width: 100%;
  margin: 0 auto;
  margin-bottom: 60px;
  padding-left: 15px;
  padding-right: 15px;
  h2 {
    color: var(--black, #191919);
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 16px;
  }
  .home__dostavki-desc_box {
    position: relative;
    .home__dostavki-desc {
      color: #191919;
      font-family: SF Pro Text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;

      span {
        display: block;
        color: #191919;
        font-family: SF Pro Text;
        font-size: 16px;
        font-style: normal;
        font-weight: 700;
        line-height: 22px;
        margin-top: 10px;
      }
    }
  }
  .home__dostavki-btn {
    color: var(--primary, #ff7010);
    font-family: Inter;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 20px;
    border: none;
    background-color: transparent;
    margin-top: 16px;
    cursor: pointer;
  }
}
.overlay {
  position: absolute;
  left: 0;
  bottom: 0;
  height: 200px;
  width: 100%;
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0%,
    rgba(249, 249, 249, 1) 100%
  );
  overflow: hidden;
}
.overflowHidden {
  overflow: hidden;
  height: 250px;
}

/* PIZZAS */

.pizzas {
  display: flex;
  flex-direction: column;
  flex-grow: 1;

  h1 {
    color: var(--black, #191919);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 32px;
  }
  &__list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.pizzas__item {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 300px;
  height: 440px;
  padding-bottom: 0px;
  gap: 10px;
  border-radius: 12px;
  border: 1px solid #f0f0f0;
  background: #fff;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 50px;

  h3 {
    --max-lines: 1;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    color: #191919;
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
  p {
    --max-lines: 2;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: var(--max-lines);
    color: #191919;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

.pizzas__img-box {
  width: 250px;
  height: 250px;
}
.pizzas__down-block {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
  button {
    display: inline-flex;
    padding: 13px 32px;
    justify-content: center;
    align-items: center;
    gap: 10px;
    border-radius: 6px;
    background: var(--primary, #ff7010);
    border: none;
    color: var(--white, #fff);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    cursor: pointer;
  }
  span {
    color: var(--primary, #ff7010);
    text-align: right;
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
  }
}

/* BASKET */

.basket {
  max-width: 900px;
  &__title {
    color: var(--black, #191919);
    font-family: Inter;
    font-size: 40px;
    font-style: normal;
    font-weight: 600;
    line-height: 48px;
    margin-bottom: 24px;
  }

  &__item {
    width: 850px;
    height: 152px;
    flex-shrink: 0;
    border-radius: 12px;
    border: 1px solid var(--line-gray, #f0f0f0);
    background: var(--white, #ffffff);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 16px;
    margin-bottom: 16px;
  }
  &__img-desc--box {
    width: 47%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &__img--block {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100px;
    height: 100px;
    flex-shrink: 0;
    padding: 10px;
  }
  &__description--block {
    h3 {
      --max-lines: 1;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--max-lines);
      color: var(--black, #191919);
      font-family: Inter;
      font-size: 20px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
      margin-bottom: 5px;
    }
    p {
      --max-lines: 2;
      display: -webkit-box;
      overflow: hidden;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: var(--max-lines);
      color: var(--black, #191919);
      font-family: SF Pro Text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
  &__button-price--box {
    width: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    div {
      padding: 5px;
      align-items: center;
      gap: 10px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      border-radius: 6px;
      background: var(--light-primary, #ffeee2);
      width: 80px;
      color: #ff7010;

      button {
        font-size: 16px;
        font-weight: 600;
        cursor: pointer;
        border: transparent;
        background-color: transparent;
        color: #ff7010;
        padding: 5px;
      }
    }
    h4 {
      color: var(--primary, #ff7010);
      text-align: right;
      font-family: Inter;
      font-size: 18px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px; /* 140% */
    }
  }
  &__not-fount--box {
    div {
      font-size: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: 10%;
      color: #ff7010;
      margin-bottom: 10%;
    }
  }

  &__promo-box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 850px;
    height: 80px;
    flex-shrink: 0;
    margin-bottom: 30px;
    border-radius: 8px;
    border: 1px solid var(--line-gray, #f0f0f0);
    background: var(--white, #fff);
    padding: 16px 24px;

    h4 {
      color: var(--primary, #ff7010);
      text-align: right;
      font-family: Inter;
      font-size: 17px;
      font-style: normal;
      font-weight: 600;
      line-height: 28px;
    }
  }

  &__form-box {
    button {
      border: none;
      cursor: pointer;
      content: "";
      width: 48px;
      height: 46px;
      flex-shrink: 0;
      display: inline-block;
      border-radius: 6px;
      background: var(--primary, #ff7010);
      background-image: url("../img/send.svg");
      background-size: 46px;
      vertical-align: middle;
      margin-left: -13%;
      margin-top: -1%;
    }
  }
  &__input {
    width: 320px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 6px;
    border: 1px solid var(--line-gray, #f0f0f0);
    background: #fff;
    padding: 13px;
    outline: none;
    color: var(--gray-text, #4a4949);
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    ::placeholder {
      color: var(--gray-text, #8c2e2e);
      font-family: SF Pro Text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

/* Stock */

.open__soong {
  margin-top: 100px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;

  h1 {
    color: #ff7010;
  }
}

@media screen and (max-width: 700px) {
  .home__search-box {
    padding-left: 10px;
    padding-right: 10px;
    label {
      display: none;
    }
  }
}

@media screen and (max-width: 500px) {
  .home__dostavki {
    h2 {
      font-size: 25px;
      margin-bottom: 10px;
    }
    .home__dostavki-desc_box .home__dostavki-desc {
      font-size: 12px;
      line-height: 20px;
    }
    .home__dostavki-btn {
      font-size: 14px;
    }
  }

  .home__search-box {
    height: 60px !important;
    padding-top: 3px;
  }

  .home__search-box div button {
    font-size: 14px !important;
    width: 120px !important;
    height: 43px !important;
    margin-left: 18px !important;
  }

  .home__search-box div input {
    font-size: 14px;
    max-height: 43px !important;
  }
}
