.navbar__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 11px;
}
.navbar__section-1 {
  text-align: start;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__img_block {
  width: 13px;
  height: 20px;
  flex-shrink: 0;
}
.navbar__section_1_block {
  display: flex;
  align-items: center;
}
.navbar__location {
  color: var(--black, #191919);
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-left: 8px;
}
/* custome */
select {
  outline: none;
  width: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  /* Remove default arrow */
  background-repeat: no-repeat;
  background-image: url("../../img/arrow-down.svg");
  /* Add custom arrow */
  background-position-x: 93%;
  background-position-y: 1px;
  padding: 0 5px;
  margin-left: 5px;
  border: none;
  background-color: transparent;

  option {
    border: none;
    outline: none;
    -webkit-appearance: none; /* for Safari */
    margin: 0;
    border-radius: 0;
  }
}

.navbar__item {
  a {
    color: var(--black, #191919);
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    span {
      display: inline-block;
      width: 40px;
      height: auto;
      color: #191919;
      text-align: right;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
    }
  }
}

.navbar__section-2 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar__item-2 {
    p {
      color: var(--black, #191919);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
.navbar__section-2-login {
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--black, #191919);
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  p::before {
    content: "";
    width: 18px;
    height: 20px;
    flex-shrink: 0;
    display: inline-block;
    background-image: url("../../img/login_user.svg");
    vertical-align: middle;
    margin-right: 8px;
  }
}
.navbar__line {
  margin-top: 11px;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: var(--line-gray, #f0f0f0);
}
.navbar__down {
  max-width: 1290px;
  width: auto;
  background: var(--background-gray, #fafafa);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  z-index: 10;
  gap: 30px;
}
.fixed {
  margin-top: -60px;
  position: fixed;
}
.fixed-other {
  margin-top: -60px;
  position: fixed;
}
.navbar__down-img-block {
  display: flex;
  align-items: center;
  column-gap: 20px;
  margin-right: 80px;
  :nth-child(1) {
    width: 30px;
    height: 30px;
  }
  :nth-child(2) {
    width: 97px;
    height: 16px;
    flex-shrink: 0;
  }
}
.navbar__down-korzinka-block {
  cursor: pointer;
  margin-left: 160px;
  button {
    width: max-content;
    cursor: pointer;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 4px;
    background: var(--primary, #ff7010);

    img {
      display: flex;
      width: 24px;
      height: 24px;
      padding: 1.5px 0px;
      justify-content: center;
      align-items: center;
    }

    img ~ span {
      display: inline-block;
      color: var(--white, #fff);
      text-align: center;
      font-family: SF Pro Text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

.navbar__down__category {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 42px;
  a {
    color: var(--black, #191919);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

/* CartUP */
.cartUpFixed {
  margin-top: 90px;
}
.cartUp__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 30px;
}
.cartUp__item {
  cursor: pointer;
  background: #fff;
  border-radius: 12px;
  transition: transform 0.2s;
}
.cartUp__item:hover {
  transform: scale(1.05);
}

.cartUp__image-block {
  width: 135px;
  height: 104px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--line-gray, #f0f0f0);
  background: var(--white, #fff);

  div {
    margin: 0 auto;
    display: flex;
    padding: 0px 4px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    img {
      width: 35px;
      height: 35px;
    }
  }
  h4 {
    display: block;
    color: var(--red, #e23535);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}

/* CartDown */
.cartDown {
  margin-bottom: 30px;
}

.cartDown__list {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  justify-content: space-between;
}
.cartDown__item {
  position: relative;
  width: 300px;
  height: 343px;
  flex-shrink: 0;
  background-color: #ff7010;
  border-radius: 5px;

  h3 {
    position: absolute;
    width: 240px;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding: 0 0 20px 20px;
    bottom: 0;
  }
}
.cartDown__item-2 {
  background-color: #e23535;
  img {
    margin-top: 76px;
  }
}

/*  */
.none {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
