.navbar {
  background: var(--White, #fff);
  margin-bottom: 30px;
}
.navbar__main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 11px;
}
.navbar__section-1 {
  text-align: start;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar__img_block {
  width: 13px;
  height: 20px;
  flex-shrink: 0;
}
.navbar__section_1_block {
  display: flex;
  align-items: center;
}
.navbar__location {
  color: var(--black, #191919);
  text-align: right;
  font-family: Inter;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin-left: 8px;
}
/* custome */
select {
  outline: none;
  width: 80px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background-repeat: no-repeat;
  background-image: url("../../img/arrow-down.svg");
  background-position-x: 100%;
  background-position-y: 8px;
  padding: 0 5px;
  margin-left: 5px;
  border: none;
  background-color: transparent;

  option {
    border: none;
    outline: none;
    -webkit-appearance: none; /* for Safari */
    margin: 0;
    border-radius: 0;
  }
}

.navbar__item {
  a {
    color: var(--black, #191919);
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;

    span {
      display: inline-block;
      width: 40px;
      height: auto;
      color: #191919;
      text-align: right;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 600;
    }
  }
}

.navbar__section-2 {
  width: 35%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .navbar__item-2 {
    p {
      color: var(--black, #191919);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
    }
  }
}
.navbar__section-2-login {
  button {
    border: none;
    background-color: transparent;
    cursor: pointer;
    color: var(--black, #191919);
    text-align: right;
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: 18px;
  }
  p::before {
    content: "";
    width: 18px;
    height: 20px;
    flex-shrink: 0;
    display: inline-block;
    background-image: url("../../img/login_user.svg");
    vertical-align: middle;
    margin-right: 8px;
  }
}
.navbar__line {
  margin-top: 11px;
  width: 100%;
  height: 1px;
  flex-shrink: 0;
  background: var(--line-gray, #f0f0f0);
}
.navbar__down {
  width: 100%;
  background: var(--White, #fff);
  z-index: 10;
}
.navbar__wrapper {
  position: relative;
  margin: 0 auto;
  max-width: 1310px;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.fixed {
  top: 0;
  position: fixed;
}
.fixed-helper {
  width: 100%;
  height: 80px;
}
.fixed-other {
  // margin-top: 10px;
  position: fixed;
}
.navbar__down-img-block {
  display: flex;
  align-items: center;
  column-gap: 20px;
  flex-shrink: 0;
  :nth-child(1) {
    width: 30px;
    height: 30px;
  }
  :nth-child(2) {
    width: 97px;
    height: 16px;
  }
}
.navbar__down-korzinka-block {
  cursor: pointer;
  button {
    width: max-content;
    cursor: pointer;
    display: inline-flex;
    padding: 8px 16px;
    justify-content: flex-end;
    align-items: center;
    gap: 8px;
    border: none;
    border-radius: 4px;
    background: var(--primary, #ff7010);

    img {
      display: flex;
      width: 24px;
      height: 24px;
      padding: 1.5px 0px;
      justify-content: center;
      align-items: center;
    }

    img ~ span {
      display: inline-block;
      color: var(--white, #fff);
      text-align: center;
      font-family: SF Pro Text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
    }
  }
}

.navbar__down__category {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  column-gap: 42px;
  a {
    color: var(--black, #191919);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}

/* CartUP */

.cartUp__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin-bottom: 30px;
}
.cartUp__item {
  cursor: pointer;
  background: #fff;
  border-radius: 12px;
  transition: transform 0.2s;
}
.cartUp__item:hover {
  transform: scale(1.05);
}

.cartUp__image-block {
  width: 135px;
  height: 104px;
  flex-shrink: 0;
  border-radius: 12px;
  border: 1px solid var(--line-gray, #f0f0f0);
  background: var(--white, #fff);

  div {
    margin: 0 auto;
    display: flex;
    padding: 0px 4px;
    margin-top: 20px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    img {
      width: 35px;
      height: 35px;
    }
  }
  h4 {
    display: block;
    color: var(--red, #e23535);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 18px;
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
  }
}
.menu_btn {
  display: none;
}

/* CartDown */
.cartDown {
  margin-bottom: 30px;
}

.cartDown__list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  row-gap: 20px;
}
.cartDown__item {
  position: relative;
  width: 300px;
  height: 343px;
  flex-shrink: 0;
  background-color: #ff7010;
  border-radius: 5px;

  h3 {
    position: absolute;
    width: 240px;
    color: #fff;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
    padding: 0 0 20px 20px;
    bottom: 0;
  }
}
.cartDown__item-2 {
  background-color: #e23535;
  img {
    margin-top: 76px;
  }
}

.navbar__basket-shop--box {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 5;
  button {
    width: max-content;
    cursor: pointer;
    border: none;
    background-color: transparent;
    position: relative;

    span {
      display: flex;
      align-items: center;
      justify-content: center;
      font-weight: 500;
      top: 0;
      right: 0;
      position: absolute;
      width: 25px;
      height: 25px;
      background-color: #fff;
      color: var(--Primary, #ff7010);
      text-align: center;
      border: 2px solid #ff7010;
      border-radius: 50%;
    }
  }
}

.mobile__menu {
  right: 0;
  transition: 0.8s cubic-bezier(0.445, 0.05, 0.55, 0.95);
  transform: translateX(100%);
  position: fixed;
  background-color: #ff7010;
  display: none;
  height: 90vh;
  padding-bottom: 50px;
  z-index: 12;
  touch-action: none;
  border-radius: 5px;

  .line {
    background-color: #444;
    margin-bottom: -10px;
  }
}
.login__block {
  height: 10%;
  h4 {
    margin-left: 10px;
    font-family: Inter;
    font-size: 25px;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
    color: #444;
    font-weight: 600;
  }
}
.login__inner-block {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translateX(100%);
  transition: transform 2s ease-in-out;
}

.mobile__menu--box {
  width: 100%;
  height: 90%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  transform: translateX(100%);
  transition: transform 2s ease-in-out;
}

.nav__links {
  font-weight: 600;
  color: #444;
  font-size: 33px;
}
.nav__scroll-top {
  top: 70px;
  height: 95vh;
}

.transform {
  transform: translateX(0);
}
.transform-important {
  transform: translateX(0) !important;
}

/*  */
.none {
  display: none;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

@media screen and (max-width: 1287px) {
  .cartDown__list {
    display: flex;
    align-items: unset;
    justify-content: unset;
    overflow-x: scroll;
    overflow-y: hidden;
  }

  .cartDown__item:not(:first-child) {
    margin-left: 15px;
  }

  #style-2::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    border-radius: 10px;
    background-color: #f5f5f5;
  }

  #style-2::-webkit-scrollbar {
    display: none;
    width: 10px !important;
    background-color: #f5f5f5;
  }

  #style-2::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #ff7010;
  }
}
@media screen and (max-width: 1152px) {
  .cartUp__list {
    display: flex;
    align-items: unset;
    justify-content: unset;
    overflow-x: scroll;
    overflow-y: hidden;
  }
  .cartUp__item:not(:first-child) {
    margin-left: 10px;
  }
}

@media screen and (max-width: 1077px) {
  .navbar__down__category {
    display: none;
  }
  .navbar__down-korzinka-block,
  .navbar__section-2-login,
  .navbar__item--locations {
    display: none;
  }
  .navbar__basket-shop--box {
    display: unset;
  }
  .mobile__menu {
    display: unset !important;
  }

  /* hamburger menu */

  $dark: #212121;
  $light: #efefef;
  $color: #b3e5fc;

  @mixin btn($right, $top) {
    position: absolute;
    width: 30px;
    height: 30px;
    top: $top;
    right: $right;
    transition-duration: 0.5s;
  }

  @mixin icon($height, $width) {
    transition-duration: 0.5s;
    position: absolute;
    height: $height;
    width: $width;
    top: 10px;
    background-color: $dark;
  }

  @mixin icon-before($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    content: "";
    top: $top;
  }

  @mixin icon-after($height, $width, $top) {
    transition-duration: 0.5s;
    position: absolute;
    width: $width;
    height: $height;
    background-color: $dark;
    content: "";
    top: $top;
  }

  .menu_btn {
    margin-top: 20px;
    display: unset;
    @include btn(20px, 0);

    .icon-E {
      @include icon(2px, 28px);
      transition-delay: 0.5s;

      &:before {
        @include icon-before(2px, 28px, -10px);
      }

      &:after {
        @include icon-after(2px, 14px, 10px);
      }
    }

    .icon-X {
      @include icon(0, 0);
      transform: scaleX(0);
      transform-origin: 15px 0px;

      &:before {
        @include icon-before(2px, 28px, -10px);
        transform: rotateZ(45deg) scaleX(1.25) translate(6px, 6px);
      }

      &:after {
        @include icon-after(2px, 28px, 10px);
        transform: rotateZ(-45deg) scaleX(1.25) translate(6.6px, -6.6px);
      }

      &:hover {
        cursor: pointer;
      }
    }

    &.open {
      .icon-E {
        transition-duration: 0.5s;
        transform: scaleX(0);
        transition-delay: 0s;
      }

      .icon-X {
        transition: 0.5s;
        transition-delay: 0.5s;
        transform: scaleX(1);
      }
    }
    &:hover {
      cursor: pointer;
    }
  }
}

@media screen and (max-width: 665px) {
  .navbar__section-1 {
    width: 100%;
  }
  .navbar__section-2 {
    display: none;
  }
  .navbar__item-2--work {
    display: none;
  }
  .mobile__menu--box {
    a {
      font-size: 28px !important;
    }
  }

  .login__block {
    h4 {
      font-size: 22px;
    }
  }
}
@media screen and (max-width: 500px) {
  .navbar__section_1_block {
    .navbar__img_block {
      width: 10px;
      height: 15px;
    }
    select {
      font-size: 13px;
      background-image: url("../../img/arrow-down.svg");
      background-position-x: 85%;
      background-position-y: 6px;
      background-size: 10px;
    }
  }
  .navbar__item {
    a {
      font-size: 12px;
      span {
        font-size: 12px;
        width: 36px;
      }
    }
  }
  .cartUp__list {
    .cartUp__item {
      a {
        height: 60px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
      div {
        display: unset;
        margin: unset;
        img {
          width: 25px;
          height: 25px;
        }
      }
      h4 {
        font-size: 16px;
      }
    }
  }

  .navbar__basket-shop--box {
    bottom: 0px;
    right: 10px;
  }
}

@media screen and (max-width: 400px) {
  .mobile__menu--box {
    a {
      font-size: 25px !important;
    }
  }
  .login__block {
    h4 {
      font-size: 20px;
    }
  }
}
