.network_err {
  font-family: "Montserrat";
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  color: #5c5c5c;

  &__box {
    max-width: 75%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }

  &__btn {
    margin-top: 20px;
    color: #fff;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    width: 150px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 6px;
    background: #ff7010;
    border: none;
    margin-left: 20px;
    cursor: pointer;
  }
}

.something-wrong {
  transform: translateY(50%);
  display: grid;
  align-content: center;
  justify-content: center;
  justify-items: center;
  font-family: "Montserrat", sans-serif !important;

  h1 {
    text-align: center;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 15px;
  }

  button {
    i {
      font-size: 20px;
      transition: all 1s ease-in-out;
    }
  }
}

.rotate-icon {
  transform: rotate(360deg);
}

@media screen and (max-width: 380px) {
  .something-wrong {
    h1 {
      font-size: 23px;
      margin-bottom: 15px;
    }
  }
}
