.footer {
  background: var(--White, #fff);
  min-height: 262px;
  flex-shrink: 0;
  padding-top: 42px;

  .footer__copyright {
    color: var(--black, #191919);
    font-family: SF Pro Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}
.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__box-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  cursor: pointer;
  gap: 14px;
  height: 45px;
}
.footer__item {
  h2 {
    color: var(--black, #191919);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
}
.footer__list {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.footer__inner-item {
  a {
    color: var(--black, #191919);
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 0;
  }
}

.footer__phone::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../../img/icons/phone.svg');
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 12px;
}
.footer__location::before {
  display: inline-block;
  content: '';
  width: 20px;
  height: 20px;
  background-image: url('../../img/icons/location.svg');
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 12px;
}
.footer__social_media {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a::before {
    display: inline-block;
    content: '';
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 12px;
  }
  :nth-child(1)::before {
    background-image: url('../../img/icons/facebook.svg');
  }
  :nth-child(2)::before {
    background-image: url('../../img/icons/instagram.svg');
  }
}

@media screen and (max-width: 963px) {
  .footer__box {
    flex-direction: column;
  }
  .footer__list {
    margin-top: 30px;
    width: 100%;
  }
  .footer__box-logo {
    display: flex;
    align-items: center;
    justify-content: start;
    gap: 14px;
    height: 45px;
  }
}

@media screen and (max-width: 748px) {
  .footer__list {
    flex-direction: column;
    row-gap: 20px;
    padding-left: 20px;
    padding-right: 20px;
  }
  .footer__social_media {
    width: 50%;
    a {
      width: 100%;
      display: inline-block;
    }
  }
  .footer__copyright {
    margin-top: 20px;
  }
}
@media screen and (max-width: 547px) {
  .footer__social_media {
    width: 250px;
  }
}

@media screen and (max-width: 500px) {
  .footer {
    margin-bottom: 40px;
    .footer__item {
      h2 {
        font-size: 17px;
      }
    }
    .footer__inner-item a {
      font-size: 14px;
      margin: 5px 0;
    }

    .footer__copyright {
      font-size: 14px;
    }
  }
}
