.footer {
  background: var(--White, #fff);
  min-height: 262px;
  flex-shrink: 0;
  padding-top: 42px;

  .footer__copyright {
    color: var(--black, #191919);
    font-family: SF Pro Text;
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
  }
}
.footer__box {
  display: flex;
  justify-content: space-between;
}
.footer__box-logo {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 14px;
  height: 45px;
  :nth-child(1) {
    width: 39.943px;
    height: 40px;
    flex-shrink: 0;
  }
  :nth-child(2) {
    width: 121.078px;
    height: 20px;
    flex-shrink: 0;
    fill: var(--black, #191919);
  }
}
.footer__item {
  h2 {
    color: var(--black, #191919);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 28px;
  }
}
.footer__list {
  width: 75%;
  display: flex;
  justify-content: space-between;
}
.footer__inner-item {
  a {
    color: var(--black, #191919);
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin: 10px 0;
  }
}

.footer__phone::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../../img/phone.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 12px;
}
.footer__location::before {
  display: inline-block;
  content: "";
  width: 20px;
  height: 20px;
  background-image: url("../../img/location.svg");
  background-repeat: no-repeat;
  vertical-align: middle;
  margin-right: 12px;
}
.footer__social_media {
  width: 80%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  a::before {
    display: inline-block;
    content: "";
    width: 20px;
    height: 20px;
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 12px;
  }
  :nth-child(1)::before {
    background-image: url("../../img/facebook.svg");
  }
  :nth-child(2)::before {
    background-image: url("../../img/instagram.svg");
  }
}
