/* LOGIN MODAL */
.login__modal--sign {
  padding: 50px 0 !important;
}
.login__modal {
  padding: 20px 0;
  position: fixed;
  max-width: 850px;
  width: 100%;
  flex-shrink: 0;
  border-radius: 24px;
  background: var(--background-gray, #f9f9f9);
  z-index: 33;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin-right: 10px;

  h2 {
    color: var(--black, #191919);
    text-align: center;
    font-family: Inter;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 40px;
    margin-bottom: 10px;
  }
  p {
    margin: 0 auto;
    width: 380px;
    color: var(--black, #191919);
    text-align: center;
    font-family: SF Pro Text;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 22px;
    margin-bottom: 10px;
  }
  .login-modal__est-acc {
    margin-top: 10px !important;
    opacity: 1 !important;
    span {
      cursor: pointer;
      color: #ff7010;
      opacity: 1 !important;
    }
  }

  /* register */
  .login__modal-box {
    padding-left: 8px;
    padding-right: 8px;
    position: relative;
    max-width: 300px;
    width: 100%;
    margin: 0 auto;
    h4 {
      color: var(--gray-text, #a5a5a5);
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      margin-bottom: 8px;
    }
    input {
      max-width: 320px;
      width: 100%;
      height: 48px;
      border-radius: 6px;
      border: 1px solid var(--line-gray, #f0f0f0);
      background: #fff;
      flex-shrink: 0;
      color: var(--gray-text, #434242);
      font-family: SF Pro Text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      margin-bottom: 8px;
      outline: none;
      padding-left: 30px;
    }
    button {
      width: 100%;
      margin: 0 auto;
      display: flex;
      max-width: 320px;
      width: 100%;
      padding: 13px 40px;
      justify-content: center;
      align-items: center;
      gap: 10px;
      border-radius: 6px;
      background: var(--primary, #ff7010);
      color: var(--white, #fff);
      text-align: center;
      font-family: SF Pro Text;
      font-size: 16px;
      font-style: normal;
      font-weight: 400;
      line-height: 22px;
      border: none;
      cursor: pointer;
      margin-bottom: 5px;
    }
    p {
      margin: 0 auto;
      text-align: center;
      max-width: 320px;
      width: 100%;
      color: var(--black, #191919);
      text-align: center;
      font-family: Inter;
      font-size: 14px;
      font-style: normal;
      font-weight: 400;
      line-height: 18px;
      opacity: 0.4;
    }
  }
}

.btn__login-modal {
  cursor: pointer;
  border: none;
  background-color: transparent;
  position: absolute;
  top: 0;
  right: -60px;
  svg {
    width: 32px;
    height: 32px;
    flex-shrink: 0;
  }
}
.login__modal {
  &--sms {
    h2 {
      margin-bottom: 5px !important;
    }
  }
  &__deck {
    line-height: 17px !important;
    font-size: 13px !important;
    color: #191919 !important;
    span {
      font-style: italic !important;
      text-decoration: underline;
    }
  }
  &__code_deck {
    opacity: 1 !important;
    span {
      color: #a5a5a5 !important;
    }
  }
}
@media screen and (max-width: 990px) {
  .login__modal {
    width: 95%;
  }
  .btn__login-modal {
    top: 15px;
    right: 15px;
    z-index: 34;
    svg {
      path {
        fill: #ff7010 !important;
      }
    }
  }
}

@media screen and (max-width: 660px) {
  .login__modal {
    h2 {
      font-size: 27px;
    }
    p {
      width: 350px;
      font-size: 14px;
    }
  }
  .login__modal-box {
    button {
      font-size: 15px !important;
    }
  }
  .login__modal .login__modal-box input {
    font-size: 14px;
  }
  .login__modal .login__modal-box p {
    font-size: 13px;
  }
  .btn__login-modal svg {
    width: 28px;
    height: 28px;
  }
}

@media screen and (max-width: 477px) {
  .login__modal {
    h2 {
      font-size: 18px;
      margin-bottom: 2px;
    }
    p {
      width: 300px;
      font-size: 12px;
    }
  }
  .login__modal .login__modal-box p {
    font-size: 11px;
  }
}

@media screen and (max-width: 370px) {
  .btn__login-modal svg {
    width: 23px;
    height: 23px;
  }
  .btn__login-modal {
    top: 15px;
    right: 15px;
  }
}
@media screen and (max-width: 340px) {
  .btn__login-modal {
    top: 10px;
    right: 10px;
  }
}
